body{
    overflow-x: hidden;/* without this, there's going to be a small space to the right > 100% */
    background: rgb(233,233,196);

    background: -moz-linear-gradient(left, rgba(233,223,196,1) 0%,
    rgba(233,223,196,1) 1%,
    rgba(237,227,200,1) 2%,
    rgba(237,227,200,1) 24%,
    rgba(235,221,195,1) 25%,
    rgba(233,223,196,1) 48%,
    rgba(235,221,195,1) 49%,
    rgba(230,216,189,1) 52%,
    rgba(230,216,189,1) 53%,
    rgba(233,219,192,1) 54%,
    rgba(230,216,189,1) 55%,
    rgba(230,216,189,1) 56%,
    rgba(233,219,192,1) 57%,
    rgba(230,216,189,1) 58%,
    rgba(230,216,189,1) 73%,
    rgba(233,219,192,1) 74%,
    rgba(233,219,192,1) 98%,
    rgba(235,221,195,1) 100%);

    background: -webkit-gradient(linear, left top, right top,
    color-stop(0%,rgba(233,223,196,1)),
    color-stop(1%,rgba(233,223,196,1)),
    color-stop(2%,rgba(237,227,200,1)),
    color-stop(24%,rgba(237,227,200,1)),
    color-stop(25%,rgba(235,221,195,1)),
    color-stop(48%,rgba(233,223,196,1)),
    color-stop(49%,rgba(235,221,195,1)),
    color-stop(52%,rgba(230,216,189,1)),
    color-stop(53%,rgba(230,216,189,1)),
    color-stop(54%,rgba(233,219,192,1)),
    color-stop(55%,rgba(230,216,189,1)),
    color-stop(56%,rgba(230,216,189,1)),
    color-stop(57%,rgba(233,219,192,1)),
    color-stop(58%,rgba(230,216,189,1)),
    color-stop(73%,rgba(230,216,189,1)),
    color-stop(74%,rgba(233,219,192,1)),
    color-stop(98%,rgba(233,219,192,1)),
    color-stop(100%,rgba(235,221,195,1)));

    background: -webkit-linear-gradient(left, rgba(233,223,196,1) 0%,
    rgba(233,223,196,1) 1%,
    rgba(237,227,200,1) 2%,
    rgba(237,227,200,1) 24%,
    rgba(235,221,195,1) 25%,
    rgba(233,223,196,1) 48%,
    rgba(235,221,195,1) 49%,
    rgba(230,216,189,1) 52%,
    rgba(230,216,189,1) 53%,
    rgba(233,219,192,1) 54%,
    rgba(230,216,189,1) 55%,
    rgba(230,216,189,1) 56%,
    rgba(233,219,192,1) 57%,
    rgba(230,216,189,1) 58%,
    rgba(230,216,189,1) 73%,
    rgba(233,219,192,1) 74%,
    rgba(233,219,192,1) 98%,
    rgba(235,221,195,1) 100%);

    background: -o-linear-gradient(left, rgba(233,223,196,1) 0%,
    rgba(233,223,196,1) 1%,
    rgba(237,227,200,1) 2%,
    rgba(237,227,200,1) 24%,
    rgba(235,221,195,1) 25%,
    rgba(233,223,196,1) 48%,
    rgba(235,221,195,1) 49%,
    rgba(230,216,189,1) 52%,
    rgba(230,216,189,1) 53%,
    rgba(233,219,192,1) 54%,
    rgba(230,216,189,1) 55%,
    rgba(230,216,189,1) 56%,
    rgba(233,219,192,1) 57%,
    rgba(230,216,189,1) 58%,
    rgba(230,216,189,1) 73%,
    rgba(233,219,192,1) 74%,
    rgba(233,219,192,1) 98%,
    rgba(235,221,195,1) 100%);

    background: -ms-linear-gradient(left, rgba(233,223,196,1) 0%,
    rgba(233,223,196,1) 1%,
    rgba(237,227,200,1) 2%,
    rgba(237,227,200,1) 24%,
    rgba(235,221,195,1) 25%,
    rgba(233,223,196,1) 48%,
    rgba(235,221,195,1) 49%,
    rgba(230,216,189,1) 52%,
    rgba(230,216,189,1) 53%,
    rgba(233,219,192,1) 54%,
    rgba(230,216,189,1) 55%,
    rgba(230,216,189,1) 56%,
    rgba(233,219,192,1) 57%,
    rgba(230,216,189,1) 58%,
    rgba(230,216,189,1) 73%,
    rgba(233,219,192,1) 74%,
    rgba(233,219,192,1) 98%,
    rgba(235,221,195,1) 100%);

    background: linear-gradient(left, rgba(233,223,196,1) 0%,
    rgba(233,223,196,1) 1%,
    rgba(237,227,200,1) 2%,
    rgba(237,227,200,1) 24%,
    rgba(235,221,195,1) 25%,
    rgba(233,223,196,1) 48%,
    rgba(235,221,195,1) 49%,
    rgba(230,216,189,1) 52%,
    rgba(230,216,189,1) 53%,
    rgba(233,219,192,1) 54%,
    rgba(230,216,189,1) 55%,
    rgba(230,216,189,1) 56%,
    rgba(233,219,192,1) 57%,
    rgba(230,216,189,1) 58%,
    rgba(230,216,189,1) 73%,
    rgba(233,219,192,1) 74%,
    rgba(233,219,192,1) 98%,
    rgba(235,221,195,1) 100%);

    background-size: 120px;
    background-repeat: repeat;
}
/* ---------- Navigation bar -----------------------------------------------------------------------------------------*/
.navbar-default{
    position: fixed;
    margin:0;
    width: 100%;
    background: rgba(19,19,19,0.7);
    box-shadow: 0 0 0.15em 0 rgba(0,0,0,0.1);
    border-color: transparent;
}
/* ---------- Navigation bar wood color ------------------------------------------------------------------------------*/
nav.wood{
    position: fixed;
    margin:0;
    width: 100%;
    background-size: 40px 160px,60px 29px, 27px 27px;/*This determines the size of the nav background bars*/
    background-image:linear-gradient(94deg, rgba(91,33,5,.1) 0%,/*this is the code for the nav bars colors */
    rgba(83,29,4,0.32) 23%,
    rgba(74,24,3,.41) 47%,
    rgba(80,27,5,0.44) 70%,
    rgba(81,27,5,0.59) 74%,
    rgba(93,33,4,0.2) 83%,
    rgba(115,43,3,.5) 100%),
    linear-gradient(90deg, #541c09 50%, transparent 50%),
    linear-gradient(90deg, #7a2e00 50%,
            #632401 50%);/*end of the nav bar colors */
    ;
}
/* ---------- Brand Name in navigation bar ---------------------------------------------------------------------------*/
.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}
/* ---------- Menu icon will change background color if it's hovered -------------------------------------------------*/
.navbar-default .navbar-toggle:hover{
    background-color: #5a5758;
}

/* ---------- This changes the default color of the menu bars --------------------------------------------------------*/
.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

/* ---------- Deletes the white line navbar and items when menu drops down -------------------------------------------*/
.navbar.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
}

/* ---------- This changes the color of the links in navigation bar --------------------------------------------------*/
#myNavBar ul li a{
    font-size: 20px;
    color: white;
}

/* ---------- This changes the color of the links in navigation bar when hovered -------------------------------------*/
#myNavBar ul li a:hover{
    font-size: 25px;
    color: red;
    text-decoration: underline;
}

/* ---------- allows everything to use the 100% width of website -----------------------------------------------------*/
.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

/*---------- Carousel section ----------------------------------------------------------------------------------------*/
.carousel-inner img{
    width: 100%;
}
/*---------- About us section ----------------------------------------------------------------------------------------*/
#about{
    padding: 3% 2% 5% 2%; /*keeps everything away from the page margin */
}

/*---------- About us title ------------------------------------------------------------------------------------------*/
#about h2{
    padding-top: -4%;
    font-family: 'Tangerine', cursive, 'Cutive', serif, 'Arial Black', cursive;
    font-size: 85px;
    font-weight: bold;
}

/*---------- line under the about us title ---------------------------------------------------------------------------*/
#about hr{
    border-top: 2px solid black;
}

/*---------- about us picture ----------------------------------------------------------------------------------------*/
#about img{
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 2%;
}

/*---------- about us text -------------------------------------------------------------------------------------------*/
#about p{
    text-align: left;
    font-family:'Merienda',cursive, 'Cutive',serif;
    font-size:  20px;
    margin-top: -2%;
}

/*---------- old chair image -----------------------------------------------------------------------------------------*/
#broken img{
    width: 100%;
    height: 660px;
    margin-bottom: -4%;
    filter: grayscale(100%);
}

/*---------- broken chair image caption ------------------------------------------------------------------------------*/
#broken .carousel-caption{
    font-family: 'Crete Round', cursive;
    color: cyan;
    padding-top: -2%;
    margin-top: -8%;
    margin-right: -8%;
    margin-left: 2%;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
}

/*----------- Services section ---------------------------------------------------------------------------------------*/
#services{
    margin-bottom: 6%;
}

/*---------- Service section title -----------------------------------------------------------------------------------*/
#services .section-header{
    font-family: 'Pacifico', cursive;
    padding: 2% 0 3% 3%;
    font-size: 55px;
}

/*---------- Services List Title -------------------------------------------------------------------------------------*/
#services .service-title{
    margin-top: -2%;
    padding: 0 1% 0 2%;
    font-family: 'Niconne', cursive;
    font-size: 45px;
}

/*---------- Services descriptions -----------------------------------------------------------------------------------*/
#services .service-content{
    margin-top: -1%;
    padding: 0 2% 0 2%;
    font-family: 'Merienda',cursive;
    font-weight: bold;
    font-size: 18px;
}

/*---------- Gallery section -----------------------------------------------------------------------------------------*/
#gallery{
    padding: 0 1.5% 0 0.5%;
    margin-bottom: 6%;
}

/*---------- Gallery section title -----------------------------------------------------------------------------------*/
#gallery h1{
    font-family: 'Pacifico',cursive;
    font-size: 55px;
    padding: 2% 2% 4% 2%;
}

/*---------- click on image message ----------------------------------------------------------------------------------*/
#gallery p{
    margin-top: -3%;
    margin-bottom: 3%;
    font-size: 18px;
}
/*---------- gallery pictures ----------------------------------------------------------------------------------------*/
#gallery img{
    width: 100%;
    height: 278px;
}
/* --------- For making the gallery pictures clickable ---------------------------------------------------------------*/
#gallery label{
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 278px;
    cursor: pointer;
    margin: 2%;
    z-index: 0;
    float: left;
}

/* ---------- controls how long it'll take for the rotation ----------------------------------------------------------*/
.card{
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s;/*allow transition in chrome and safari */
    transition: all 0.5s;
    z-index: 20;
}

/* ---------- hides the "after" images, otherwise they'd be place under the "before" pictures ------------------------*/
.card div{
    position: absolute;
    width: 100%;
    height:100%;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;/* allow us to hide picture in chrome and safari -----------------------------*/
    backface-visibility: hidden;
}

/* ---------- allows after pictures to rotate ------------------------------------------------------------------------*/
.card .back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*---------- Used to know when a user has clicked a picture ----------------------------------------------------------*/
input{
    display: none;
}

/*---------- When the input is checked/click, rotate image -----------------------------------------------------------*/
:checked + .card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*---------- Gallery Images Captions position ------------------------------------------------------------------------*/
.gallery-caption {
    width:100%;
    top: .2rem;
    position: absolute;
    /*background: -webkit-linear-gradient(top, #000 0, rgba(0, 0, 0, 0) 10%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/

}

/*---------- Images caption color ------------------------------------------------------------------------------------*/
.gallery-caption h4 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    /*-webkit-font-smoothing: antialiased;*/
}

/*---------- Map and hours section -----------------------------------------------------------------------------------*/
#location{
    background-color: #e6d8bd;
}

/*---------- Location and hours title section ------------------------------------------------------------------------*/
#location h1{
    font-family: 'Pacifico',cursive;
    font-size: 55px;
    padding: 2% 2% 2% 2%;
}
/*---------- mapwrapper that keeps the map picture with padding ------------------------------------------------------*/
.mapWrapper{
    position: relative;
    padding: 0 2% 2% 2%;
}

/*---------- when the map picture is hovered, the mouse will turn to pointer -----------------------------------------*/
.mapWrapper  img{
    cursor: pointer;
    width: 47%;
    height: auto;
    float: left;
    margin-bottom: 6%;
}

/*---------- the whole rectangle that contains the hours/days --------------------------------------------------------*/
.business-hours{
    background: #222;
    position: relative;
    width: 47%;
    float: right;
    margin: -2% 2% 5% 2%;
    padding: 2%;
}

/*---------- Hours title ---------------------------------------------------------------------------------------------*/
.business-hours .title{
    font-size: 24px;
    color: white;
    text-transform: uppercase;
    padding-left: 8px;
    border-left: 4px solid #ffac0c;
}

/*---------- List of days --------------------------------------------------------------------------------------------*/
.business-hours li{
    color: #9f9f9f;
    line-height: 50px;
    font-size: 20px;
    border-bottom: 1px solid #333;
}

/*---------- This is for saturday, so it won't have a line at the bottom ---------------------------------------------*/
.business-hours li:last-child{
    border-bottom: none;
}

/*---------- The current day will be colored orange, used Javascript -------------------------------------------------*/
.business-hours .opening-hours li.today{
    color: #ffac0c;
}

/*---------- footer section ------------------------------------------------------------------------------------------*/
footer{
    /*background: #243c4f;*/
    background-color: #5a2002;
    padding: 15px 0;
}

footer p{
    font-size: 19px;
    color: white;
}

footer a{
    color: cyan;
}

footer a:hover{
    color: cyan;
}

footer .footer-title{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

footer .footer-title:after{
    content: '';
    display: block;
    width: 110px;
    height: 1px;
    background: cyan;
    margin-top: 0;
}

footer .right-border{
    border-right: 3px solid white;
}

footer .left-border{
    border-left: 3px solid white;
}

@media (max-width: 991px){
    #about img{
        width: 60%;
        height: auto;
        float: left;
        margin-right: 2em;
    }
    footer .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 40px;
        text-align: center;
    }
    footer .right-border {
        border-right: none;
    }
}

@media (max-width: 767px){
    footer .right-border{
        border-right: none;
    }
    footer .left-border{
        border-left: none;
    }

    footer .contact-info{
        border-top: 2px solid white;
    }
    footer .navigation {
        margin-top: 40px;
        border-top: 1px solid white;
    }
}

footer .footer-about {
    padding: 0 0 20px 20px;
}

footer .contact-info .single {
    margin: 15px 0 0 10px;
}

footer .contact-info .single i { /* icons */
    display: block;
    float: left;
    color: cyan;
    margin-right: 15px;
    line-height: 22px;
}

footer .contact-info .single p {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

footer .social-icon{ /*social media icons */
    margin-top: 40px;
    margin-left: 15px;
}

footer .social-icon li a {
    display: block;/*draws square around social icon */
    width: 45px;
    height: 45px;
    margin-right: 5px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);/*rotates square to make it look like a diamond*/
}

footer .social-icon li a:hover { /*changes diamonds color*/
    border-color: #3ac341;
}

footer .social-icon li a:visited{
    border-color: #3ac341;
}
footer .social-icon li a i {
    line-height: 43px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

footer .navigation li a {
    color: white;
    text-transform: uppercase;
    line-height: 30px;
    text-decoration: none;
}

footer .navigation li a:hover {
    color: #3ac341;
}

footer .copyright {
    padding-top: 40px;
    padding-left: 20px;
}

.nonclickable{
    pointer-events: none;
    cursor: default;
}

