body{
    overflow-x: hidden;/* without this, theres going to be a small space to the right > 100% */
    background-color: #E3CCA1;
}
/* ---------- Navigation bar ----------------------------------------------------------------------------------------*/
.navbar-default{
    position: fixed;
    margin:0;
    width: 100%;
    background-size: 40px 160px,60px 29px, 27px 27px;/*This determines the size of the nav background bars*/
    background-image:linear-gradient(94deg, rgba(91,33,5,.1) 0%,/*this is the code for the nav bars colors */
    rgba(83,29,4,0.32) 23%,
    rgba(74,24,3,.41) 47%,
    rgba(80,27,5,0.44) 70%,
    rgba(81,27,5,0.59) 74%,
    rgba(93,33,4,0.2) 83%,
    rgba(115,43,3,.5) 100%),
    linear-gradient(90deg, #541c09 50%, transparent 50%),
    linear-gradient(90deg, #7a2e00 50%,
            #632401 50%);/*end of the nav bar colors */
    border-color: black;
}
/* ---------- Brand Name in navigation bar --------------------------------------------------------------------------*/
.navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
}
/* ---------- Menu icon will change background color if it's hovered ------------------------------------------------*/
.navbar-default .navbar-toggle:hover{
    background-color: #5a5758;
}

/* ---------- This changes the default color of the menu bars -------------------------------------------------------*/
.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

/* ---------- Deletes the white line navbar and items when menu drops down ------------------------------------------*/
.navbar.navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
}

/* ---------- This changes the color of the links in navigation bar -------------------------------------------------*/
#myNavBar ul li a{
    font-size: 20px;
    color: white;
}

/* ---------- This changes the color of the links in navigation bar when hovered ------------------------------------*/
#myNavBar ul li a:hover{
    font-size: 25px;
    color: red;
    text-decoration: underline;
}

/* ---------- allows everything to use the 100% width of website ----------------------------------------------------*/
.container{
    margin: 0;
    padding: 0;
    width: 100%;
}
img{
    width: 100%;
}

/* ---------- For making the gallery pictures clickable -------------------------------------------------------------*/
label{
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 263px;
    height: 200px;
    cursor: pointer;
    margin: 2%;
    z-index: 0;
    float: left;
}

/* ---------- controls how long it'll take for the rotation ---------------------------------------------------------*/
.card{
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.5s;/*allow transition in chrome and safari */
    transition: all 0.5s;
    z-index: 20;
}

/* ---------- hides the "after" images, otherwise they'd be place under the "before" pictures -----------------------*/
.card div{
    position: absolute;
    width: 100%;
    height:100%;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;/* allow us to hide picture in chrome and safari ----------------------------*/
    backface-visibility: hidden;
}

/* ---------- allows after pictures to rotate -----------------------------------------------------------------------*/
.card .back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

input{
    display: none;
}

:checked + .card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mapWrapper {
    position: relative;
    padding-bottom: 56.6666667%; /* height/width */
    height: 0;
    margin: 10px;
}

#broken{

    width: 100%;
}
#gallery{
    background-color: yellow;
}

#location{
    background-color: #31b0d5;
}

.mapWrapper  img{
    cursor: pointer;
    background: #ac2925;
}

.demo-bg{
    background: #ffac0c;
    margin-top: 60px;
}

.business-hours{
    background: #222;
    padding: 40px 14px;
    margin-top: -15px;
    position: relative;
}

.business-hours:before{
    content: '';
    width: 23px;
    height: 23px;
    background: #111;
    top:5px;
    left: -12px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: -1;
    position: absolute;
}

.business-hours .title{
    font-size: 20px;
    color: #BBB;
    text-transform: uppercase;
    padding-left: 5px;
    border-left: 4px solid #ffac0c;
}

.business-hours li{
    color: #888;
    line-height: 30px;
    border-bottom: 1px solid #333;
}

.business-hours li:last-child{
    border-bottom: none;
}

.business-hours .opening-hours li.today{
    color: #ffac0c;
}

/*---------- footer section ------------------------------------------------------------------------------------------*/
footer{
    background: #243c4f;
    padding: 15px 0;
}

footer p{
    font-size: 16px;
    color: white;
}

footer a{
    color: #3ac341;
}

footer a:hover{
    color: #3ac341;
}

footer .footer-title{
    position: relative;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

footer .footer-title:after{
    content: '';
    display: block;
    width: 110px;
    height: 1px;
    background: #3ac341;
    margin-top: 0;
}

footer .right-border{
    border-right: 3px solid rgba(255,255,255,0.1);
}

footer .left-border{
    border-left: 3px solid rgba(255,255,255,0.1);
}

@media (max-width: 991px){
    footer .copyright {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 40px;
        text-align: center;
    }
    footer .right-border {
        border-right: none;
    }
}

@media (max-width: 767px){
    footer .right-border{
        border-right: none;
    }
    footer .left-border{
        border-left: none;
    }

    footer .contact-info{
        border-top: 2px solid white;
    }
    footer .navigation {
        margin-top: 40px;
        border-top: 1px solid white;
    }
}

footer .footer-about {
    padding: 0 0 20px 20px;
}

footer .contact-info .single {
    margin: 15px 0 0 10px;
}

footer .contact-info .single i { /* icons */
    display: block;
    float: left;
    color: #3ac341;
    margin-right: 15px;
    line-height: 22px;
}

footer .contact-info .single p {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

footer .social-icon{ /*social media icons */
    margin-top: 40px;
    margin-left: 15px;
}

footer .social-icon li a {
    display: block;/*draws square around social icon */
    width: 45px;
    height: 45px;
    margin-right: 5px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.1);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);/*rotates square to make it look like a diamond*/
}

footer .social-icon li a:hover { /*changes diamonds color*/
    border-color: #3ac341;
}

footer .social-icon li a:visited{
    border-color: #3ac341;
}
footer .social-icon li a i {
    line-height: 43px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

footer .navigation li a {
    color: white;
    text-transform: uppercase;
    line-height: 30px;
    text-decoration: none;
}

footer .navigation li a:hover {
    color: #3ac341;
}

footer .copyright {
    padding-top: 40px;
    padding-left: 20px;
}

.nonclickable{
    pointer-events: none;
    cursor: default;
}

